<!-- <p>
  captain-app works!
</p> -->

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmModalLabel">Verify Nomination</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button (click)="addTransaction();" type="submit" class="btn btn-success" data-dismiss="modal">Verify!</button>

        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    <strong>Error:</strong> {{errorMessage}}
  </div>
  
  <div class="row">
    <div class="col-md-9">
        <h1 class="asset-title" id='assetName'>Captain's App</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">nominationId</th>
            
                <th class="info">vesselName</th>
            
                <th class="info">IMONumber</th>
            
                <th class="info">voyageNumber</th>

                <th class="info">verified</th>
    
              <th class="info-actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td class="asset-properties">{{asset.nominationId}}</td>
            
                <td class="asset-properties">{{asset.vesselName}}</td>
            
                <td class="asset-properties">{{asset.IMONumber}}</td>
            
                <td class="asset-properties">{{asset.voyageNumber}}</td>

                <td class="asset-properties">{{asset.verified}}</td>

            <td>
              <button (click)="setNomination(asset.nominationId)" data- type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
              Verify
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button [routerLink]="['/Nomination']"  id = "backbutton"  type="button" class="backtoNominationAndVerifyCaptian">
    ← Back to Nominations 
  </button>
</div>
